*,*::before,*::after{
  
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root{
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;
}

body{
    --hue:var(--hue-neutral);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
/* body.correct{
    --hue:var(--hue-correct);
}
body.wrong{
    --hue:var(--hue-wrong);
} */

.container{
    width: 800px;
    max-width: 100%;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0 0 10px 2px;
    font-size: x-large;

}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue:var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    /* height: 35px; */
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    /* font-size: 25px;
    justify-content: center;
     text-align: center; */
     font-size: x-large;
     cursor: pointer;
}

btn:hover{ 
    background-color: hsl(var(--hue), 100%, 0%);
    /* box-shadow: 0 0 10px 2px; */
}

.btn.correct{
    --hue:var(--hue-correct);
    color: black;

}
/* .btn.correct:hover{
    --hue:var(--hue-correct);
    color:white;

} */

.btn.wrong{
    --hue:var(--hue-wrong);
    /* color: black; */

}
/* .btn.wrong:hover{
    --hue:var(--hue-wrong);
    color:white;

} */

.start-btn,.Next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
